* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5rem;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 1rem;
}

.upload-section {
    text-align: center;
    margin-top: 40px;
}

#uploadBtn {
    background-color: #ffeb13;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

#uploadBtn:hover {
    background-color: #655f18;
}
